.active {
    display: flex;

    width: 300px;
    padding: 0px 0px 20px 10px;
    transform: translateX(0%);
    transition: all 0.3s ease 0.3s;
}

.item {
    padding-right: 20px;
    color: #e60074;
    text-decoration: none;
    cursor: pointer;
}

.item:active, .item:hover , item:focus, .button:active , button:focus {
    opacity: 0.7;
}

.button {
    margin-left: 20px;
    background-color: #BDAE82;
    color: #fff;
    border-radius: 1px;
    text-align: center;
    border: none;
}

.header {
    padding: 0px 0px 20px 10px;
    transform: translateX(-17%);
    transition: all 0.3s ease 0.3s;
}

@media (min-width: 1600px) {
    .header {
        transform: translateX(-15%);
    }
}

@media (min-width: 1800px) {
    .header {
        transform: translateX(-14%);
    }
}

@media (min-width: 2000px) {
    .header {
        transform: translateX(-12%);
    }
}

.error_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: url(pages/img/bg.jpg) no-repeat;
    background-size: 100%;
    height: 100vh;
    font-family: sans-serif;
    font-size: 60px;
    color: #bdae82;
}
